<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hello {{ user.first_name }},</p>
    
    <p>Your new account has been created successfully. Here are your login details:</p>
    
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Password:</strong> {{ password }}</p>
    
    <p>You can use these credentials to log in to your account.</p>
    
    <p>Thank you for joining us!</p>
</body>
</html>
